.container {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form_container {
    background-color: #ffffff;
    padding: 13px;
    width: 30%;
    margin-bottom: 20px;
    font-weight: 400;
}

.back_button {
    border-radius: 58px;
    height: 47px;
    width: 204px;
    text-align: center;
    padding: 2px 2px;
    border: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background-color: #e2641d;
    color: #ffffff;
    /* border-color: white; */
}
.form_header {
    display: flex;
    justify-content: space-between;
    width: 615px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 33px;
    color: #8c8c8c;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
}
.heading {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.navbar_button:hover {
    background-color: rgb(107, 107, 124);
    cursor: pointer;
}
.back_button:hover {
    background-color: rgb(107, 107, 124);
    cursor: pointer;
}
.component {
    display: flex;
    width: 615px;
    align-items: left;
    justify-content: start;
    height: 168px;
    margin-bottom: 16px;
    flex-direction: column;
    padding-left: 15px;
    background-color: white;
    padding-top: 10px;
    /* box-shadow: 0px 0px 2px 2px rgba(119, 112, 112, 0.5); */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.content {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #515263;
    padding-bottom: 10px;
    font-size: 12px;
    font-family: Roboto;
}
.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #515263;
    font-size: 12px;
    margin: 2px;
    background: #f3f3f3;
    width: 214px;
    height: 24px;
    border-radius: 3px;
    font-family: Roboto;
}
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 8px;
    /* margin-bottom: 8px; */
    color: #000000;
}
.btn-primary {
    border: 1px solid #515263;
    height: 47px;
    width: 97px;
    border-radius: 58px;
    /* background-color: white; */
    font-weight: 700;
    /* border-color: black; */
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #515263;
    background: #FFFFFF;
}

.btn-primary:hover {
    background-color: rgb(107, 107, 124);
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: rgb(7, 7, 124);
    cursor: pointer;
}
.btn-secondary {
    color: #FFFFFF;
    border-color: blue;
    /* background-color: blue; */
    width: 132px;
    /* border-radius: 60px; */
    border: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 47px;
    margin-left: 6px;
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    background: #1E4FCE;
border-radius: 58px;
}
i {
    margin-left: 10px;
}
.navbar_button {
    height: 47px;
    width: 119px;
    top: 21px;
    border-radius: 58px;
    padding: 14px, 24px, 14px, 24px;
    margin-top: 21px;
    margin-bottom: 22px;
    margin-right: 97px;
    /* border-color: black; */
    background-color: white;
    font-weight: 700;
    border-color: black;
    font-family: Roboto;
    border: 1px solid #000000;
}
.navbar {
    /* height: 90px; */
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
    position: relative;
}
.navbar img {
    height: 48px;
    width: 306px;
    margin: 21px 0px 21px 97px;
}
.image {
    margin-right: 5px;
    margin-left: 8px;
}
.name {
    margin-right: 5px;
}
.address {
    margin-right: 5px;
}
.day {
    margin-right: 5px;
}
.date {
    margin-right: 5px;
}
.button{
    padding-top: 10px;
}
